services:
  db:
    image: "postgres:18-alpine"
    env_file:
      - .env
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    volumes:
      - ./backend:/app  
      - /app/.venv
    ports:
      - "8000:8000"
    depends_on:
      - "db"

volumes:
  postgres_data:
